snippet blogh
${1:Title}
#################################

:date: ${2:2014-10-12 01:58}
:modified: ${3:2014-10-12 01:58}
:tags: ${4: Tags commad seperated }
:category: ${5}
:slug: ${6}
:authors: ${7}

.. :summary: 
$0
endsnippet 
