[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = http://github.com/embear/vim-localvimrc
	irgnore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
	irgnore = dirty
[submodule "_pathogen"]
	path = _pathogen
	url = http://github.com/tpope/vim-pathogen.git
	irgnore = dirty
[submodule "bundle/easytags"]
	path = bundle/easytags
	url = https://github.com/xolox/vim-easytags.git
	irgnore = dirty
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "bundle/autopep8"]
	path = bundle/autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "bundle/test_vim"]
	path = bundle/test_vim
	url = https://github.com/janko-m/vim-test
[submodule "bundle/move"]
	path = bundle/move
	url = https://github.com/matze/vim-move
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim
[submodule "bundle/unite-tag"]
	path = bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag
[submodule "bundle/vinegar-nerdtree"]
	path = bundle/vinegar-nerdtree
	url = https://github.com/dhruvasagar/vim-vinegar
[submodule "bundle/textobj_python"]
	path = bundle/textobj_python
	url = https://github.com/bps/vim-textobj-python
[submodule "bundle/textobj_user"]
	path = bundle/textobj_user
	url = https://github.com/kana/vim-textobj-user
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/railscasts_colors"]
	path = bundle/railscasts_colors
	url = https://github.com/jpo/vim-railscasts-theme
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/lsp"]
	path = bundle/lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
